[Unit]
Description=heater service control

[Service]
User=pi
Type=idle
Restart=no
Environment="ARGS=%I"
ExecStart=/usr/bin/python3 /home/pi/raspb-scripts/heater_control.py $ARGS
