[Unit]
Description=heater service control

[Service]
User=pi
Type=idle
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/python3 /home/pi/raspb-scripts/heater_poll.py /home/pi/raspb-scripts/settings.json
ExecStopPost=/bin/sleep 1
