[Unit]
Description=heater service control

[Service]
User=pi
Type=idle
Restart=no
Environment="MAX_TIME=%I"
ExecStart=/usr/bin/python3 /home/pi/raspb-scripts/relay.py $MAX_TIME
