[Unit]
Description=Remotely control heater service

[Service]
User=pi
Type=idle
Restart=no
ExecStart=/usr/bin/python3 /home/pi/raspb-scripts/relay.py
